<!-- This is the page the user will see when logged in and they click the link to add a new trip -->

<!DOCTYPE html>
<html>
    <head>
        <title>Create a new trip</title>
    </head>
    <body>
        <!-- <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="submit" value="Vote" />
        </form> -->
    </body>
</html>

<!-- TODO turn form into trip adding form, and add in info from current trips like links with trip location and dates -->