<!-- Index is the page the viewer will see BEFORE logging in or signing up -->

<!-- {% extends 'base.html' %}
{% block content %} -->

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Trip Assistant</title>
    </head>
    <body>

        <div class="page-header">
            <h1>Welcome to Trip Assistant</h1>
        </div>

        <h3>The place to plan your trip, save travel ideas, get recommendations, and share with friends!</h3>

        <div>
            <button class="login">
                <a href="/login">Log in to your account</a>
            </button>
        </div>

        <div>
            <button class="register">
                <a href="/register">Sign up for an account</a>
            </button>
        </div>

    </body>
</html>

<!-- {% endblock %} -->
